@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

body {
    margin: 0 auto;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96.2vh;
}

.calc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 12px;
}

.calc {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    width: 250px;
    height: 550px;
    border: 4px solid rgba(167, 112, 60, 0.637);
    border-radius: 16px;
    padding: 8px;
    background-color: rgb(255, 255, 255);
}

.calc-screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100px;
    width: 100%;
    max-height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 16px;
}

.calc-screen {
    display: flex;
    justify-content: right;
    flex-grow: 0;
    border: 2px solid rgb(136, 93, 0);
    border-radius: 8px;
    height: 100px;
    width: 100%;
    background-color: rgb(255, 209, 110);
    background: linear-gradient(
        33deg,
        rgba(255, 147, 58, 0.788) 12%,
        rgba(255, 165, 30, 0.37) 77%
      );
    background-blend-mode: normal;
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.screen-text {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    padding: 12px;
}

.calc-buttons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
}

.calc-button, .calc-equals, .calc-backspace, .calc-clear {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border: 2px solid black;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    color: black;
    background-color: rgb(192, 192, 192);
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    margin: 4px;
    background-blend-mode: normal;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.calc-backspace img {
    width: 35px;
    height: auto;
}

#equals {
    background-color: rgb(110, 211, 110);
}

#clear {
    background-color: rgb(233, 130, 130);
}

#backspace {
    background-color: rgb(233, 130, 130);
}

.button-hover {
    background-color: orange;
}

.button-click {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.28);
    padding: 6px;
    border: 4px solid black;
}

img {
    pointer-events: none;
  }

  .footer {
    font-family: 'Raleway', sans-serif;
    color: white;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: peru;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}